* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(334deg,rgb(180, 172, 233), rgb(154, 143, 226), rgb(84, 63, 221));
	background-size: 180% 180%;
}

header {
    width: 100%;
    height: 100%;
    padding-top: 10px;
    padding-left: 10px;
}

header img {
    display: flex;
    justify-content: flex-end;
}

.encriptador {
    width: 100%;
    height: 100%;
    padding: 20px 10px;
}

.input-texto {
    width: 100%;
    max-width: 768px;
    height: 30vh;
    padding-top: 5px;
    padding-left: 5px;
    border: none;
    border-radius: 5px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    color: #FFFFFF;
    outline: none;
    font-size: 20px;
    resize: none;
}

.input-texto::placeholder {
    color: #ffffedff;
}

.input-texto:focus::placeholder {
    color: rgba( 255, 255, 255, 0.25 );
}

.botones__tablet {
    display: none;
}

.botones {
    width: 100%;
    max-width: 750px;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
}

.botones p {
    display: flex;
    justify-content: center;
}

.botones button {
    margin: 10px;
    padding: 20px;
    border-radius: 24px;
    color: #FFFFFF;
}

.encriptar {
    background-color: darkblue;
    border: none;
}

.desencriptar {
    background-color: transparent;
    border: 1px solid lightblue;
}

.desencriptar:hover {
    background-color: rgb(64, 64, 165);
    border: none;
    cursor: pointer;
}

.encriptar:hover {
    background-color: rgb(64, 64, 165);
    cursor: pointer;
}

.encriptacion {
    width: 100%;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    display: grid;
    place-items: center;
    
}

.mensaje {
    width: 100%;
    height: 30vh;
    padding-top: 5px;
    padding-left: 5px;
    background-image: url("../img/Muñeco.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    outline: none;
    font-size: 20px;
    resize: none;
    background-color: transparent;
    border: none;
}

.encriptacion button {
    width: 85%;
    max-width: 300px;
    padding: 20px;
    margin-top: 25px;
    border: none;
    border-radius: 24px;
}

.copiar {
    color: #FFFFFF;
    background-color: transparent;
    border: 1px solid lightblue !important;
}

.encriptacion button:hover {
    cursor: pointer;
    background-color: rgb(64, 64, 165);
    border: none !important;
}